
  .gategory{
    text-decoration: none;
    font-size: 15px;
    color: black;
  
}
li{
  list-style: none;
}

.f-container {
  background-color: #EBEEEF;
  border: 1px solid #b7b1b16e
}

.singleList {
  margin-left: 31px;
}
.social-mini{
  width: 6rem;
}
.social-Big{
  width: 8rem;
}

.social{
  margin-right: 10px;
  margin-top: 12px;
 
}

.copy-right {
  background-color:#002f34;
  color: white;
  font-size: 12px;
  padding: 12px;
  font-weight: 400;
}